@model IEnumerable<projet.Models.Module>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom_mod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enseignant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.niveau)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom_mod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enseignant.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.niveau.nom_niv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_mod">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_mod">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_mod">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
